$background_dark: #111111;
$background_light: #f1f1f1;

$text_dark: #111111;
$text_light: #f1f1f1;
$text_light_opacify: #7e8285;

$primary_color:   #0460b7;

$red_color:  rgba(196, 36, 36, 0.842);
$red_color_opacify: rgba(196, 36, 36, 0.7);


